In [13]:
import pandas as pd
import numpy as np

from scipy import stats
from sklearn import preprocessing
from sklearn import decomposition
from sklearn.preprocessing import StandardScaler, normalize

import matplotlib.pyplot as plt
import seaborn as sns
#from pandas_profiling import ProfileReport

import warnings
warnings.filterwarnings('ignore')

### 1. Load the dataset

In [14]:
#loading the Wonderful Wines of the World data

data = pd.read_excel(r'C:\Users\Antonio\Desktop\S2\BCwDS\trabalho\data\WonderfulWinesoftheWorld.xlsx') 
data.drop(['Rand'], axis=1)

,Custid,Dayswus,Age,Edu,Income,Kidhome,Teenhome,Freq,Recency,Monetary,...,WebVisit,SMRack,LGRack,Humid,Spcork,Bucket,Access,Complain,Mailfriend,Emailfriend
0,5325.0,653.000,55.0000,20.0000,78473.000,0.0000,0.0000,20.0000,18.0000,826.0000,...,5.0000,0,0,0,0,0,0,0,0,0
1,3956.0,1041.000,75.0000,18.0000,105087.000,0.0000,0.0000,36.0000,33.0000,1852.0000,...,4.0000,0,0,0,1,0,0,0,0,0
2,3681.0,666.000,18.0000,12.0000,27984.000,1.0000,0.0000,4.0000,56.0000,39.0000,...,8.0000,0,0,0,0,0,0,0,0,0
3,2829.0,1049.000,42.0000,16.0000,61748.000,1.0000,1.0000,2.0000,46.0000,37.0000,...,7.0000,0,0,0,0,0,0,0,1,1
4,8788.0,837.000,47.0000,16.0000,65789.000,0.0000,1.0000,2.0000,3.0000,36.0000,...,6.0000,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,4070.0,596.000,66.0000,15.0000,84714.000,0.0000,0.0000,18.0000,45.0000,720.0000,...,2.0000,0,0,0,0,0,0,0,0,0
9997,7909.0,619.000,18.0000,12.0000,40466.000,0.0000,0.0000,3.0000,65.0000,47.0000,...,5.0000,0,0,0,0,0,0,0,0,0
9998,4158.0,1107.000,33.0000,16.0000,53661.000,1.0000,0.0000,1.0000,368.0000,15.0000,...,6.0000,0,0,0,0,0,0,0,0,0
9999,4914.0,979.000,55.0000,16.0000,94926.000,0.0000,1.0000,25.0000,28.0000,1148.0000,...,5.0000,0,0,0,0,0,0,0,0,0
10000,NaN,898.102,47.9273,16.7391,69904.358,0.4188,0.4698,14.6281,62.4068,622.5552,...,5.2166,817,696,817,682,130,2460,112,1019,511

### 2.Explore the dataset

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001 entries, 0 to 10000
Data columns (total 30 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Custid       10000 non-null  float64
 1   Dayswus      10001 non-null  float64
 2   Age          10001 non-null  float64
 3   Edu          10001 non-null  float64
 4   Income       10001 non-null  float64
 5   Kidhome      10001 non-null  float64
 6   Teenhome     10001 non-null  float64
 7   Freq         10001 non-null  float64
 8   Recency      10001 non-null  float64
 9   Monetary     10001 non-null  float64
 10  LTV          10001 non-null  float64
 11  Perdeal      10001 non-null  float64
 12  Dryred       10001 non-null  float64
 13  Sweetred     10001 non-null  float64
 14  Drywh        10001 non-null  float64
 15  Sweetwh      10001 non-null  float64
 16  Dessert      10001 non-null  float64
 17  Exotic       10001 non-null  float64
 18  WebPurchase  10001 non-null  float64
 19  WebVisit     10001 non-null  float64
 20  SMRack       10001 non-null  int64
 21  LGRack       10001 non-null  int64
 22  Humid        10001 non-null  int64
 23  Spcork       10001 non-null  int64
 24  Bucket       10001 non-null  int64
 25  Access       10001 non-null  int64
 26  Complain     10001 non-null  int64
 27  Mailfriend   10001 non-null  int64
 28  Emailfriend  10001 non-null  int64
 29  Rand         10000 non-null  float64
dtypes: float64(21), int64(9)
memory usage: 2.3 MB

In [16]:
data.head()

,Custid,Dayswus,Age,Edu,Income,Kidhome,Teenhome,Freq,Recency,Monetary,...,SMRack,LGRack,Humid,Spcork,Bucket,Access,Complain,Mailfriend,Emailfriend,Rand
0,5325.0,653.0,55.0,20.0,78473.0,0.0,0.0,20.0,18.0,826.0,...,0,0,0,0,0,0,0,0,0,0.240092
1,3956.0,1041.0,75.0,18.0,105087.0,0.0,0.0,36.0,33.0,1852.0,...,0,0,0,1,0,0,0,0,0,0.435944
2,3681.0,666.0,18.0,12.0,27984.0,1.0,0.0,4.0,56.0,39.0,...,0,0,0,0,0,0,0,0,0,0.350584
3,2829.0,1049.0,42.0,16.0,61748.0,1.0,1.0,2.0,46.0,37.0,...,0,0,0,0,0,0,0,1,1,0.594082
4,8788.0,837.0,47.0,16.0,65789.0,0.0,1.0,2.0,3.0,36.0,...,0,0,0,0,0,0,0,0,0,0.782248

In [17]:
len(data.Custid.unique())

10001

In [ ]:
data.iloc[:,1:11].describe()

In [18]:
#alternativa 
# Summary statistics for all variables
data.describe(include='all').transpose()

,count,mean,std,min,25%,50%,75%,max
Custid,10000.0,6000.500000,2886.895680,1001.000000,3500.750000,6000.500000,8500.250000,11000.000000
Dayswus,10001.0,898.102000,202.482664,550.000000,724.000000,894.000000,1074.000000,1250.000000
Age,10001.0,47.927300,17.301856,18.000000,33.000000,48.000000,63.000000,78.000000
Edu,10001.0,16.739100,1.876281,12.000000,15.000000,17.000000,18.000000,20.000000
Income,10001.0,69904.358000,27610.852665,10000.000000,47646.000000,70009.000000,92147.000000,140628.000000
Kidhome,10001.0,0.418800,0.493363,0.000000,0.000000,0.000000,1.000000,1.000000
Teenhome,10001.0,0.469800,0.499087,0.000000,0.000000,0.000000,1.000000,1.000000
Freq,10001.0,14.628100,11.968475,1.000000,4.000000,12.000000,24.000000,56.000000
Recency,10001.0,62.406800,69.870762,0.000000,26.000000,52.000000,78.000000,549.000000
Monetary,10001.0,622.555200,647.102966,6.000000,63.000000,383.000000,1077.000000,3052.000000
LTV,10001.0,209.071200,291.971441,-178.000000,-2.000000,57.000000,364.000000,1791.000000
Perdeal,10001.0,32.397200,27.895699,0.000000,6.000000,25.000000,56.000000,97.000000
Dryred,10001.0,50.382700,23.452643,1.000000,32.000000,51.000000,69.000000,99.000000
Sweetred,10001.0,7.054500,7.866151,0.000000,2.000000,4.000000,10.000000,75.000000
Drywh,10001.0,28.521300,12.583328,1.000000,19.000000,28.000000,37.000000,74.000000
Sweetwh,10001.0,7.069800,8.014682,0.000000,2.000000,4.000000,10.000000,62.000000
Dessert,10001.0,6.947400,7.879152,0.000000,2.000000,4.000000,9.000000,77.000000
Exotic,10001.0,16.546600,17.246809,0.000000,4.000000,10.000000,23.000000,96.000000
WebPurchase,10001.0,42.376200,18.521136,4.000000,28.000000,45.000000,57.000000,88.000000
WebVisit,10001.0,5.216600,2.330340,0.000000,3.000000,6.000000,7.000000,10.000000
SMRack,10001.0,0.163384,8.173365,0.000000,0.000000,0.000000,0.000000,817.000000
LGRack,10001.0,0.139186,6.963607,0.000000,0.000000,0.000000,0.000000,696.000000
Humid,10001.0,0.163384,8.173365,0.000000,0.000000,0.000000,0.000000,817.000000
Spcork,10001.0,0.136386,6.823635,0.000000,0.000000,0.000000,0.000000,682.000000
Bucket,10001.0,0.025997,1.304731,0.000000,0.000000,0.000000,0.000000,130.000000
Access,10001.0,0.491951,24.602219,0.000000,0.000000,0.000000,0.000000,2460.000000
Complain,10001.0,0.022398,1.124766,0.000000,0.000000,0.000000,0.000000,112.000000
Mailfriend,10001.0,0.203780,10.192962,0.000000,0.000000,0.000000,0.000000,1019.000000
Emailfriend,10001.0,0.102190,5.113977,0.000000,0.000000,0.000000,0.000000,511.000000
Rand,10000.0,0.502157,0.290068,0.000266,0.249537,0.505914,0.752055,0.999721

In [ ]:
#Boxplot
sns.set()

# Prepare figure. Create individual axes where each box plot will be placed
fig, axes = plt.subplots(2, ceil(len(metric_features) / 2), figsize=(20, 11))

# Plot data
# Iterate across axes objects and associate each box plot:
for ax, feat in zip(axes.flatten(), metric_features):
    sns.boxplot(x=df[feat], y=df['y'], ax=ax)
    
# Layout
# Add a centered title to the figure:
title = "Numeric Variables' Box Plots by Target"
plt.suptitle(title)
plt.subplots_adjust(wspace=0.3)

plt.show()

In [ ]:
# Pairwise Relationship of Numerical Variables
sns.set()
features = metric_features + ['y']

# Setting pairplot
sns.pairplot(data=df[features], hue='y', diag_kind="hist")

# Layout
plt.subplots_adjust(top=0.95)
plt.suptitle("Pairwise Relationship of Numerical Variables by Target", fontsize=20)

plt.show()

In [ ]:
profile = ProfileReport(data, title='Wonderful Wines of the World Pandas Profiling Report', explorative = True)
profile.to_file(r'C:\Users\frede\Documents\GitHub\BC1_GroupS\analysis\WonderfulWinesProfiling.html')

In [ ]:
corr = data.corr()

# Generate a mask for the upper triangle
mask = np.triu(np.ones_like(corr, dtype=bool))

# Set up the matplotlib figure
f, ax = plt.subplots(figsize=(11, 9))

# Generate a custom diverging colormap
cmap = sns.color_palette("BuPu", as_cmap=True)

# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(corr, mask=mask, cmap=cmap, vmax=.3, center=0,
            square=True, linewidths=.5, cbar_kws={"shrink": .5})

### 3.Coherence Checks

In [19]:
data[data["Age"]<18.0]

Empty DataFrame
Columns: [Custid, Dayswus, Age, Edu, Income, Kidhome, Teenhome, Freq, Recency, Monetary, LTV, Perdeal, Dryred, Sweetred, Drywh, Sweetwh, Dessert, Exotic, WebPurchase, WebVisit, SMRack, LGRack, Humid, Spcork, Bucket, Access, Complain, Mailfriend, Emailfriend, Rand]
Index: []

[0 rows x 30 columns]

In [20]:
data[data["Freq"]==0]

Empty DataFrame
Columns: [Custid, Dayswus, Age, Edu, Income, Kidhome, Teenhome, Freq, Recency, Monetary, LTV, Perdeal, Dryred, Sweetred, Drywh, Sweetwh, Dessert, Exotic, WebPurchase, WebVisit, SMRack, LGRack, Humid, Spcork, Bucket, Access, Complain, Mailfriend, Emailfriend, Rand]
Index: []

[0 rows x 30 columns]

### 4.Data Preparation

#### 4.1 Select data

In [21]:
data.loc[data.Age < 21]

,Custid,Dayswus,Age,Edu,Income,Kidhome,Teenhome,Freq,Recency,Monetary,...,SMRack,LGRack,Humid,Spcork,Bucket,Access,Complain,Mailfriend,Emailfriend,Rand
2,3681.0,666.0,18.0,12.0,27984.0,1.0,0.0,4.0,56.0,39.0,...,0,0,0,0,0,0,0,0,0,0.350584
34,4324.0,870.0,20.0,14.0,28393.0,1.0,0.0,1.0,243.0,13.0,...,0,0,0,0,0,0,0,0,0,0.954484
46,4274.0,655.0,19.0,13.0,33631.0,1.0,0.0,3.0,36.0,38.0,...,0,0,0,0,0,0,0,0,0,0.922253
75,5172.0,1139.0,20.0,14.0,24036.0,1.0,0.0,4.0,41.0,89.0,...,0,0,0,0,0,0,0,1,0,0.754229
81,8146.0,1167.0,20.0,14.0,50293.0,1.0,0.0,9.0,69.0,256.0,...,0,0,0,0,0,0,1,0,0,0.101389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9885,10042.0,720.0,20.0,14.0,20957.0,1.0,0.0,5.0,31.0,44.0,...,0,0,0,0,0,0,0,0,0,0.970942
9922,9499.0,974.0,20.0,14.0,10000.0,1.0,0.0,4.0,31.0,35.0,...,0,0,0,0,0,0,0,0,0,0.600555
9927,4898.0,1091.0,19.0,13.0,56273.0,1.0,0.0,10.0,42.0,306.0,...,0,0,0,0,0,0,0,0,0,0.715134
9964,5957.0,1217.0,19.0,13.0,18298.0,1.0,0.0,2.0,43.0,32.0,...,1,0,0,0,0,1,0,1,1,0.931405
9997,7909.0,619.0,18.0,12.0,40466.0,0.0,0.0,3.0,65.0,47.0,...,0,0,0,0,0,0,0,0,0,0.679388

In [22]:
# Preserving the original df without variables CustomerId and Rand
data_clean = data.iloc[:,1:29].copy()

# Dropping customers with age under 21 and reindexing
data_clean = data_clean.loc[data.Age >= 21].reset_index(drop=True)

#### 4.2 Outliers

In [23]:
#IQR

q25 = data_clean.quantile(.25)
q75 = data_clean.quantile(.75)
iqr = (q75 - q25)

upper_lim = q75 + 1.5 * iqr
lower_lim = q25 - 1.5 * iqr

columns = data_clean.columns
filter1 = []
for column in columns:
    llim = lower_lim[column]
    ulim = upper_lim[column]
    filter1.append(data_clean[column].between(llim, ulim, inclusive=True))

filter1 = pd.Series(np.all(filter1, 0))
do1 = data_clean[filter1]
print('Percentage of data kept after removing outliers:', np.round(do1.shape[0] / data_clean.shape[0], 4))

Percentage of data kept after removing outliers: 0.5704

In [24]:
#Z-Score

z_scores = stats.zscore(data_clean)
abs_z_scores = np.abs(z_scores)
filter2 = (abs_z_scores < 3).all(axis=1)
filter2 = pd.Series(filter2)
do2 = data_clean[filter2]
print('Percentage of data kept after removing outliers:', np.round(do2.shape[0] / data_clean.shape[0], 4))

Percentage of data kept after removing outliers: 0.8909

In [25]:
#Combining IQR and Z-Score methods

len(data_clean[(filter2 | filter1)])/len(data_clean)

0.8908748824082785

In [26]:
dataco = do2.copy()
outliers = data_clean[filter2 == False]

#### 4.3 Normalization

In [27]:
#Normalize
names = dataco.columns
# Create the Scaler object
scaler = preprocessing.StandardScaler()
# Fit your data on the scaler object
scaled_df = scaler.fit_transform(dataco)
scaled_df = pd.DataFrame(scaled_df, columns=names)
  
# Normalizing the Data 
normalized_df = normalize(scaled_df) 
  
# Converting the numpy array into a pandas DataFrame 
normalized_df = pd.DataFrame(normalized_df,columns=names)

#### 4.4 Results

In [ ]:
plt.figure(figsize=(15,10))
sns.boxplot(data=normalized_df, palette = 'ch:s=-.2,r=.6')
plt.xticks(rotation=90)
plt.show()

In [ ]:
#Pairwise 
sns.set()

# Setting pairgrid
g = sns.PairGrid(metric_df.set_index("id")[~out_mask].dropna())

# Populating pairgrid
g = g.map_diag(plt.hist, edgecolor="w")
g = g.map_offdiag(plt.scatter, edgecolor="w", s=40)

# Layout
plt.subplots_adjust(top=0.95)
plt.suptitle("Pairwise relationship of metric variables - outliers removed", fontsize=30)

plt.show()

In [ ]:
#correlation matrix
corr = data.corr()

# Generate a mask for the upper triangle
mask = np.triu(np.ones_like(corr, dtype=bool))

# Set up the matplotlib figure
f, ax = plt.subplots(figsize=(11, 9))

# Generate a custom diverging colormap
cmap = sns.color_palette("BuPu", as_cmap=True)

# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(corr, mask=mask, cmap=cmap, vmax=.3, center=0,
            square=True, linewidths=.5, cbar_kws={"shrink": .5})

In [28]:
normalized_df

,Dayswus,Age,Edu,Income,Kidhome,Teenhome,Freq,Recency,Monetary,LTV,...,WebVisit,SMRack,LGRack,Humid,Spcork,Bucket,Access,Complain,Mailfriend,Emailfriend
0,-0.347682,0.084213,0.492809,0.055831,-0.229303,-0.296554,0.109243,-0.293349,0.072820,0.233365,...,-0.012869,-0.082748,-0.083159,-0.087196,-0.079548,-0.032848,-0.133638,-0.030661,-0.085998,-0.053238
1,0.118826,0.260030,0.093857,0.207936,-0.132845,-0.171806,0.294338,-0.094499,0.314564,0.191573,...,-0.078852,-0.047940,-0.048178,-0.050516,0.601013,-0.019030,-0.077422,-0.017763,-0.049822,-0.030843
2,0.091302,-0.064435,-0.071185,-0.056779,0.151771,0.117353,-0.143139,-0.021189,-0.121760,-0.098475,...,0.098515,-0.034896,-0.035069,-0.036772,-0.033547,-0.013853,-0.056357,-0.012930,0.404677,0.653701
3,-0.072627,-0.052335,-0.143322,-0.075243,-0.194696,0.236278,-0.288194,-0.359654,-0.245540,-0.189479,...,0.093712,-0.070260,-0.070609,-0.074036,-0.067543,-0.027891,-0.113469,-0.026034,-0.073019,-0.045203
4,0.020243,0.049439,0.369257,0.027139,-0.171815,-0.222205,0.025825,-0.226309,-0.003120,-0.026815,...,-0.009643,-0.062002,-0.062310,-0.065335,-0.059605,-0.024613,-0.100134,-0.022974,0.719018,-0.039890
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,0.294799,-0.120378,-0.174670,-0.181239,0.372409,0.287957,-0.248057,0.118708,-0.244240,-0.255560,...,0.241733,-0.085627,-0.086052,-0.090229,-0.082316,-0.033991,-0.138288,-0.031728,-0.088990,-0.055090
8519,-0.134744,-0.103435,0.124530,-0.268898,0.276639,0.213905,-0.222586,-0.125383,-0.214188,-0.188248,...,0.274299,-0.063607,-0.063923,-0.067026,-0.061147,-0.025250,-0.102725,-0.023569,-0.066105,-0.040923
8520,0.192187,0.069282,0.282930,0.048791,-0.131647,0.159763,0.048408,0.035953,0.028653,-0.019358,...,-0.078141,0.572560,-0.047743,-0.050061,-0.045670,-0.018859,0.228703,-0.017603,0.550922,-0.030565
8521,-0.360550,0.239382,-0.280947,0.106683,-0.192765,-0.249300,0.049928,-0.049538,0.020383,0.149186,...,-0.321620,-0.069563,-0.069908,-0.073302,-0.066873,-0.027614,-0.112344,-0.025776,-0.072295,-0.044755
8522,0.126449,0.091191,-0.182785,0.263354,-0.248304,0.301335,0.253251,-0.223640,0.238632,0.082313,...,-0.013935,-0.089605,-0.090050,-0.094421,-0.086140,-0.035570,-0.144712,-0.033202,-0.093124,-0.057649

In [30]:
### dataframe to csv file
normalized_df.to_csv('Cleaned_data.csv')

In [ ]:
cor = normalized_df.corr()
#Correlation with Total Sales variable
cor_target = abs(cor["Monetary"])
#Selecting highly correlated features
relevant_features = cor_target[cor_target>0.5]
relevant_features.sort_values(ascending=False)

In [ ]:
#PCA
pca = decomposition.PCA(n_components=2)
X_centered = normalized_df - normalized_df.mean(axis=0)
pca.fit(X_centered)
X_pca = pca.transform(X_centered)
X_pca = pd.DataFrame(X_pca, columns = ['x','y'])

In [ ]:
X_pca = pd.DataFrame(X_pca, columns = ['x','y'])
X_pca

In [ ]:
X_pca.describe()

In [ ]:
X_pca.plot.scatter(x='x',y='y')